<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="billing">
                Billing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="reports">
                Reports</a>
        </li>
    </ul>
</div>
<!-- Testing artifact upload -->